body {
    font-family: 'Roboto', sans-serif;
}

/* Containers */

.container-wrapper {}

.container-wrapper--red {
    background-color: #e30615;
    color: #fff;
}

.alert-container {}

.callout-container {
    height: 100vh;

    background: url("../images/beer-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgb(227, 6, 19);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}



/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--red {
    background-color: #e30615;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
}

.btn--white {
    color: #e30615;
    background-color: #fff;
}

.btn--white:hover,
.btn--white:active,
.btn--white:focus,
.btn--white:active:focus {
    background-color: #e30615;
    border-color: #e30615;
    color: white;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 80px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.features h3 {
  padding-top: 15px;
  padding-bottom: 15px
}

.feature .btn {
    background-color: white;
    border-color: white;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #e30615;
}




/* Carousel */

.carousel-item { position: relative !important; }
.carousel-overlay { position: absolute ; position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
    
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  margin-bottom: 3rem;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}

.carousel h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.carousel p{
    color: #a7a7a7;
}

.carousel {
  height: 400px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

/* Beer selection */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.beer-signup {
 float: center;
}


/* Form */

.form-container {
    height: 100vh;

    background: url("../images/brewery-lg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.form-group {
color: #fff;
font-size: 16px;
}

#emailHelp {
color: #fff;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption {
    margin-bottom: 1.5rem;
    font-size: 1.35rem;
    line-height: 1.4;
  }

@media (min-width: 480px) {

    .features h1 {
        padding-top: 5px;
    }
    

}